body {
    background: #E6ECF0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}
/*the header with the logo, notification, and search on it*/
header#main-header {
    height: 46px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1;
}
/*the proper spacing between the items on the header w. loggo & search*/
header#main-header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/*the proper spacing for the items on the headear in a ul, eg messages and notif*/
header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;

    font-size: 15px;
    color: #667580;
    font-weight: bold;
    margin-left: 30px;

}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side input[type=text]{
    width: 220px;
    border: 1px solid #e6ecf0;
    height: 34px;
    padding: 0 30px 0 12px;
    border-radius: 16px;
    color: #667581;
    font-size: 14px;
}

header#main-header div.side img {
    height: 39px;
    width: 39px;
    border-radius: 50%;
    margin: 0 15px;
}

/*Post button*/
header#main-header div.side button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 34px;
    width: 90px;
    font-weight: bold;
    font-size: 13px;
    background: #bf003f;
    color: #fff;
    border: 0;
    border-radius: 16px;
}

div.banner {
    height: 100%;
    width: 100%;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

div.bar {
    height: 59px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);

}

div.bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%;
}

div.bar .content ul {
    display: flex;
    list-style: none;
    height: 100%;
}

div.bar .content ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

div.bar .content ul li.active::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #bf003f;
}

div.bar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

div.bar .content ul li strong {
    color: #667580;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

div.bar .content ul li.active strong {
    color: #bf003f;
}

div.bar .content .actions {
    display: flex;
}

div.bar .content .actions button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 34px;
    width: 550px;
    font-weight: bold;
    font-size: 13px;
    color: #bf003f;
    border: 1px solid #bf003f;
    border-radius: 16px;

    margin-right: 20px;
}

/* the original code:*/

#right-col {

    background-color: #aaa;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#left-col {
    background-color: #bbb;
    display:grid;
    height: 100%;
}



.super-centered {
    place-items: center;
}

.centered {
    text-align: center;
}

.tooltip {
    position: relative;
    display:inline-block;
}



/* Tooltip text */


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */

    position: absolute;
    z-index: 1;
}



/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}


html,body
{
    height:100%;
}



a:link {
    color:black;
}

a:visited {
    color: black;
}
