#right-col {
    background-color: #aaa;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#left-col {
    background-color: #bbb;
    display:grid;
    height: 100%;
}



.super-centered {
    place-items: center;
}

.centered {
    text-align: center;
}

.tooltip {
    position: relative;
    display:inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


html,body
{
    height:100%;
}